{#
/**
 * @file
 * Default theme implementation to display a Traffective ad slot.
 *
 * Available variables:
 * - format: The ad slot format.
 * - render_count: A global render count per ad format.
 *
 * The format gets captialized to match the Traffective naming conventions.
 */
#}
{% set classes = [
  'traffective-adslot',
  ' ad',
  ' ad--' ~ format,
] %}
<div class="{{ classes|join }}">
  {# Extract "nativendo" ads into own Drupal module #}
  {% if 'native' in format %}
    <div id="{{ format }}-{{ render_count }}"></div>
  {% elseif format in ['skyscraper', 'halfpage'] %}
    {% if format in ['skyscraper'] %}
      <div id="traffective-ad-WP{{ format|title }}" style="display: none;" class='WP{{ format|title }}'></div>
    {% endif %}
    <div id="traffective-ad-{{ format|title }}{% if format in ['halfpage'] %}Ad{% endif %}" style="display: none;" class="{{ format|title }}{% if format in ['halfpage'] %}Ad{% endif %}"></div>
  {% else %}
    <div id="traffective-ad-{{ format|title }}{% if format != 'mobile_pos' %}_{% endif %}{{ render_count }}" style="display: none;" class="{{ format|title }}{% if format != 'mobile_pos' %}_{% endif %}{{ render_count }}"></div>
  {% endif %}
</div>
